@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Kanit', sans-serif;
  color: #3E3939;
}

code {
  font-family: 'Kanit', sans-serif;
}

input{
  outline: none;
  font-family: 'Kanit', sans-serif;
}